<section class="semantic-content" id="edit-email" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-inner">
    <header id="modal-label">
      <h1><%= t('user.update.email') %></h1>
    </header>
    <div class="modal-content">
      <%= simple_form_for @user, url: profile_path do |f| %>
        <%= f.input :email %>
        <%= f.button :submit, class: "btn btn-inverse", data: { disable_with: "loading..." } %>
      <% end %>
    </div>
    <footer>
      <a href="#!" title="Close this modal" data-close="Close" data-dismiss="modal">Close</a>
    </footer>
  </div>
  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>