<h1>SolesOut wants to help you sell shoes! Seriously!</h1>

<h3>Let us know how we can help you sell more!</h3>

<h4>Before you can sell stuff, you have to link your <%= link_to "Twitter Account", auth_path(:twitter) %></h4>
