<%= simple_form_for User.new, url: sessions_path, :method => :post do |f| %>
  <div class="field">
    <%= f.input :username, placeholder: "username" %>
  </div>
  <div class="field">
    <%= f.input :password, as: :password, required: true, placeholder: "password" %>
  </div>
  <div class="actions">
    <%= f.submit "Login", class: "btn btn-inverse" %>
  </div>
<% end %>
