<% content_for :title, "Login or Create Account | Sell in Minutes" %>
<div class="row-fluid">
  <div class="well">
    <h1>Login</h1>
    <%= render 'form' %>
  </div>
  <div class="well">
    <h1>No Account? <%= link_to "Create One!", new_user_path %></h1>
  </div>
  <div class="well">
    <h1>Forgot Password?</h1>
    <%= render 'password_resets/forgot_password_form' %>
  </div>
</div>
