<div class="well">
  <% content_for :title, "Create an Account" %>
  <h1>Create an Account</h1>
  <p class="lead">*Make sure to use Paypal email if you're Buying or Selling</p>
  <%= render 'form' %>
</div>
<div class="well">
  <h1>Already Have An Account? <%= link_to "Login", login_path %></h1>
</div>

<div class="well">
  <h1>Forgot Password?</h1>
  <%= render 'password_resets/forgot_password_form' %>
</div>