<div class="well">

<% content_for :title, "Create an Account" %>
<h1>Create an Account</h1>
<p class="lead">*Make sure to use Paypal email if you're Buying or Selling</p>
<%= render 'form' %>

</div>