<%= header "Shoes and Pairs for #{@user.username}" %>
<div class="row-fluid">
  <h1>
    <%= @user.username %>
  </h1>
</div>

<%= render partial: 'users/post', locals: {
  posts: @user.posts.active,
  panel: {
    heading: "Active Pairs",
    class: "panel-primary"
  }
} %>