<h1>
  <%= @user.username %>
</h1>

<div class="span6">
  <h2>Recent Pairs</h2>
  <%= render partial: 'posts/post', collection: @user.posts %>
</div>
<% if current_user && current_user == @user %>

  <div class="span6">
    <h2>Pending Posts</h2>
    <%= render partial: 'posts/post', collection: @user.posts %>
  </div>
<% end %>
