<% content_for :title, "About | FAQ | Buying Tips "  %>
<p class="lead">About:</p>
<p>We have created a website that has minimized the fees associated to the seller and given the buyer an experience unlike anything else. With a voting system in place the buyer can give the seller direct feedback about their product without compromising the listing. Feel free to upvote or downvote based on whatever your preference is, whether it be price, rareity, condition or anything else. With a "buy now" button in place, the listing will stay available until the transaction is completed through Paypal.</p>
<hr>
<p class="lead">If you have any questions, concerns or suggestions please don't hesitate to reach out by email: <%= mail_to "support@solesout.com" %> or by phone: <%= number_to_phone(3238134116, area_code: true) %></p> 

<dl>
  <dt>Step 1:</dt>
  <dd>- Sign up for a user id and password using the email that is associated with your Paypal account</dd>
 
  <dt>Step 2: (Selling)</dt>
  <dd>- Click add new pair, fill out all of the fields correctly and accurately, make sure that the price you decide on INCLUDES shipping to the US</dd>
   
  <dt>Step 3: (Pictures)</dt>
  <dd>- Add as many pictures as you feel necessary, make sure that the FIRST picture added is the one you want shown as the thumbnail</dd>
   
  <dt>Step 4:</dt>
  <dd>- Change status to 'For Sale'</dd>
  <dd>- A 'Buy Now' button will appear in your post that will go directly into your Paypal account</dd>
   
  <dt>Step 5:</dt>
  <dd>- Sit back, kick your feet up and get your SolesOut!</dd>
  <dd>- You will be emailed a receipt from Paypal notifying you of a sale.</dd>
  <dd>- Once the money is safely in your Paypal account, please ship in a timely manner and make SURE to include tracking info.</dd>
</dl>

<p class='lead'>
FAQ:
</p>

<dl>
  <dt>Where are the voting buttons?</dt>
  <dd>- In order to participate in voting OR purchasing/selling you will need to register with a User ID and Password.</dd>
  <br>
  <dt>I don't have a Paypal account, can I still sell? or buy?</dt>
  <dd>- No, anyone wanting to purchase or sell needs to have an active Paypal account.</dd>
  <br>
  <dt>I need to contact the seller after I've purchased the item, how should I do this?</dt>
  <dd>- Contact the seller via the email associated to their Paypal account, which can be found in the receipt of payment or in your actual account.</dd>
  <br>
  <dt>I want to purchase a pair of shoes but there isn't a button to do so, where is it?</dt>
  <dd>- You have to login to your account in order to complete a purchase and/or participate in the voting system.</dd>
  <br>
  <dt>Can I pay by money order or cash?</dt>
  <dd>- No, the way we are designed is to give both the buyer and seller protection that is associated with working through Paypal.</dd>
  <br>
  <dt>I paid for an item, when should I receive it?</dt> 
  <dd>- The seller is expected to ship the product as soon as they can while updating the Papal transaction with the tracking information that is used. You can also contact the seller via their email associated with the actual Paypal transaction.</dd>
  <br>
   <dt>I have some suggestions to help make the site better, where should I send them?</dt>
   <dd>- Please email ANY suggestions, concerns or questions to support@solesout.com</dd>
  <br>
  <dt>I purchased an item and have not received it or the item was significantly different than what was listed, what should I do?</dt>
  <dd>- Contact Paypal ASAP and set up a claim.</dd>
 

</dl>
 
