<p class="lead">
About:
</p>
<p>
We have created a website that has minimized the fees ($1) associated to the seller and given the buyer an experience unlike anything else. With a voting system in place the buyer can give the seller direct feedback about their product without compromising the listing. Feel free to upvote or downvote based on whatever your preference is, whether it be price, rareity, condition or anything else. With a "buy now" button in place, the listing will stay available until the transaction is completed through Paypal.
</p>

<p>
If you have any questions, concerns or suggestions please don't hesitate to reach out by email: <%= mail_to "support@solesout.com" %> or by phone: <%= number_to_phone(3238134116, area_code: true) %>
</p> 

<p class='lead'>
FAQ:
</p>

<dl>
  <dt>
    Where are the voting buttons?
  </dt>
  <dd>
    - In order to participate in voting OR purchasing/selling you will need to registar with a User ID and Password.
  </dd>
<br>
  <dt>
    I don't have a Paypal account, can I still sell? or buy?
  </dt>
  <dd>
    - No, anyone wanting to purchase or sell needs to have an active Paypal account.
  </dd>
</dl>
 
