<div class="well">
<% header("Contact SolesOut") %>

<h3>Contact SolesOut</h3>
<p ><%= mail_to "support@solesout.com" %></p>
<p ><%= number_to_phone(3238134116, area_code: true) %></p>

<h2>Tips. Tricks.</h2>
<ul class="unstyled">
  <li>
    <p>
    - Make sure that the first picture you upload is the one you want to use as a thumbnail.
    </p>
  </li>
  <li>
    <p>
    - Set a fair and reasonable price if hoping to make a speedy sale.
    </p>
  </li>
  <li>
    <p >
    - Use the exact name and nickname when creating the title of your listing.
    </p>
  </li>
  <li>
    <p >
      - Be very thorough in your description and make sure to point out any flaws that there may be in your item.
    </p>
  </li>
  <li>
    <p >
      - Any questions, concerns or suggestions please send to support@solesout.com
    </p>
  </li>
</ul>
</div>