<% header("Contact SolesOut") %>
<dl class="dl-horizontal">
  <dd><h3>Contact SolesOut</h3></dd>
  <dt><p class="lead">email</p></dt>
  <dd><p class="lead"><%= mail_to "support@solesout.com" %></p></dd>
  <br>
  <dt><p class="lead">phone:</p></dt>
  <dd><p class="lead"><%= number_to_phone(3238134116, area_code: true) %></p></dd>
</dl>

<hr>

<h3>Tips. Tricks.</h3>
<ul class="unstyled">
  <li>
    <p class="lead">
    - Make sure that the first picture you upload is the one you want to use as a thumbnail.
    </p>
  </li>
  <li>
    <p class="lead">
    - Set a fair and reasonable price if hoping to make a speedy sale.
    </p>
  </li>
  <li>
    <p class="lead">
    - Use the exact name and nickname when creating the title of your listing.
    </p>
  </li>
  <li>
    <p class="lead">
      - Be very thorough in your description and make sure to point out any flaws that there may be in your item.
    </p>
  </li>
  <li>
    <p class="lead">
      - Any questions, concerns or suggestions please send to support@solesout.com
    </p>
  </li>
</ul>
