<% header("Contact SolesOut") %>
<p class='lead'>
  Contact SolesOut
</p>

<dl>
  <dt>email</dt>
  <dd><%= mail_to "support@solesout.com" %></dd>
  <br>
  <dt>phone:</dt>
  <dd><%= number_to_phone(3238134116, area_code: true) %></dd>
</dl>
  


