<div class="row well">
  <%= image_tag image.url_size(900), class: 'img-rounded img-responsive post-image' %>
  <% if post_owner? %>
    <%= link_to 'delete?', image_path(image), method: :delete, data: {confirm: 'Are you Sure?'}, class: "btn btn-danger btn-block" %>
  <% elsif current_admin %>
    <%= link_to 'admin delete?', image_path(image), method: :delete, data: {confirm: 'Are you Sure?'}, class: "btn btn-danger btn-block" %>
  <% end %>
</div>
