<% content_for :title, "Buy and Sell"  %>
<div class="container-fluid">
  <%= render @posts %>
</div>

<% if current_admin %>
  <div class="navbar navbar-fixed-bottom inverse">
    <div class="navbar-inner">
      <div class="container">
        <p class="brand">Admin:</p>
        <%= link_to "SIZES", sizes_path, class: "brand" %>
      </div>
    </div>
  </div>
<% end %>
