<% content_for :title, "Search #{search_query}" %>

<div class="container" style="background-color: white">
  <div class="col-xs-12" style="padding-top: 20px;">
    <% if search_query %>
      <h2>Searching: "<%= search_query %>"</h2>
    <% end %>

    <% @posts.in_groups_of(4, false) do |row_of_posts| %>
      <div class="row">

        <% row_of_posts.each do |post| %>
          <%= render partial: "posts/post", object: post %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
