<div class="well">
	<% content_for :title, post_title(@post).to_s    %>
	<div class="row-fluid">
		<div class="span6">

			<table>
				<tr>
					<td><strong>Brand</strong></td>
					<td><%= @post.brand %></td>
				</tr>



			</table>

			<div class="span2">
			<p><strong>Brand: </strong><%= @post.brand %></p>
            <p><strong>Size: </strong><%= @post.size.name %></p>
            <p><strong>Price: </strong><%= number_to_currency(@post.price, precision: 0) %></p>
            </div>
		</div>
		<div class="span6">

			test

		</div>
	</div>



</div>