<div class="sidebar-header">
  <p>Popular Pairs</p>
</div>
<div class="sidebar-body">
  <div class="sidebar-tabs">
{{!--     <p>
      <a href="">recent</a>
      <a href="">weekly</a>
      <a href="">monthly</a>
    </p> --}}
  </div>
  <div class="sidebar-list">
    {{#each posts}}
      <div class="sidebar-post">
        <a href="{{unbound href}}">
          <div class="sidebar-image">
            {{image_url}}
          </div>
          <div class="sidebar-title">{{long_title}}</div>
        </a>
      </div>
    {{/each}}
  </div>
</div>