@mixin alert($color: #2c3e50, $background: #bdc3c7) {
  color: $color;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: $background;
}
.alert{
  @include alert();
}

.notice {
  @include alert();
}