/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* Portrait tablet to landscape and desktop */
@media (min-width: 980px){ 
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    padding-bottom: 40px;
}

.btn-watch{
  color: gold;
}


/*.list-group {
  max-width: 400px;
  padding-left: 0;
  margin-bottom: 20px;
}

div.list-group-item {
  color: #555555;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/*  <div class="list-group">
    <div class="list-group-item">
      <%= image_tag "http://placehold.it/65x65", class: 'img-rounded pull-left' %>
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </div>
  </div>
*/
