/*
=========================================================================================

	General Stylesheet
		Contains all individualy styled classes and ids.

=========================================================================================
*/
/* STYLING OF ITEM LIST GRID */
@import 'bootstrap/grid';

.grid-item {
  @include make-lg-column(2.25, $gutter: 20px);
  @include make-xs-column(4, $gutter: 10px);
  margin-bottom: 10px;
}

/* STYLING OF ITEM LIST */

.title, .author {
  text-transform: lowercase;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  outline-color: rgb(73, 79, 89);
  color: rgb(73, 79, 89);
}

.truncate {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.well {
  background-color: #ffffff;
}

button.paypal-button {
  box-shadow: rgb(117, 173, 94) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  height: 35px;
  min-height: 0px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
  vertical-align: middle;
  width: 230px;
  perspective-origin: 115px 17.5px;
  transform-origin: 115px 17.5px;
  background: rgb(192, 192, 192) linear-gradient(rgb(117, 173, 94), rgb(99, 155, 78)) repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(88, 132, 70);
  border-radius: 3px;
  font: normal normal bold normal 14px/28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  padding: 0px 13px;
}

span.price {
  color: rgb(56, 61, 72);
  height: 25px;
  width: 230px;
  perspective-origin: 115px 17px;
  transform-origin: 115px 17px;
  border: 0px none rgb(56, 61, 72);
  font: normal normal bold normal 20px/normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: rgb(56, 61, 72) none 0px;
  padding: 3px 0px 6px;
}






