/*
=========================================================================================

	General Stylesheet
		Contains all individualy styled classes and ids.

=========================================================================================
*/

/* STYLING OF ITEM LIST */
.list-group-item {
  background-color: #ffffff;
  overflow: hidden;
}

ul {
  margin: 0px;
}

.title, .author {
  font-size: 13px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  height: 15px;
  line-height: 15px;
  outline-color: rgb(73, 79, 89);
  color: rgb(73, 79, 89);
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
  background-color: #2C3E50;
}

.checkbox {
  padding: 5px;
  margin-left: 30px;
}

.status-update {
  margin-top: 20px;
}

.descriptors {
  border: 1px solid #cccccc;
  padding: 10px;
  div {
    margin-bottom: 10px;
  }
}

.well {
  h1 {
    text-align: center;
  }
  background-color: #ffffff;
}

.lead {
  font-size: inherit !important;
}

dl {
  text-align: center;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 10px;
}

.voting {
  td {
    text-align: center;
  }
  td tr {
    width: 20px;
  }
}

.about-item {
  width: 100%;
}

.edit-add {
  background-image: none;
  border: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}