/*
=========================================================================================

	General Stylesheet
		Contains all individualy styled classes and ids.

=========================================================================================
*/

/* STYLING OF ITEM LIST */

.title, .author {
  font-size: 13px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  height: 15px;
  line-height: 15px;
  outline-color: rgb(73, 79, 89);
  color: rgb(73, 79, 89);
}


.descriptors {
  border: 1px solid #cccccc;
  padding: 10px;
  div {
    margin-bottom: 10px;
  }
}

.well {
  h1 {
    text-align: center;
  }
  background-color: #ffffff;
}

.lead {
  font-size: inherit !important;
}

dl {
  text-align: center;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 10px;
}


.about-item {
  width: 100%;
}

.edit-add {
  background-image: none;
  border: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}