/*
=========================================================================================

	Global Stylesheet
		Contains all HTML element styling (NO ID OR CLASS BASED STLYING).
		Includes typography styling.

=========================================================================================
*/

body {
  font-size: 14px;
  font-family: sans-serif;
  color: $color-1;
  padding: 0px;
  background-color: #ebeced;

  * {
    text-shadow: 0 0px 0 !important;
  }
}