// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img.post-image {
  margin: auto;
}

img.post-index-image {
  min-width: 180px;
  min-height: 180px;
}

img.transparent {
  opacity: 0;
  -moz-transition: opacity 1s; /* Firefox 4 */
  -webkit-transition: opacity 1s; /* Safari and Chrome */
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

img.visible {
  opacity: 1;
  -moz-transition: opacity 1s; /* Firefox 4 */
  -webkit-transition: opacity 1s; /* Safari and Chrome */
  -o-transition: opacity 1s;
  transition: opacity 1s;
}