
form{
	margin-bottom: 0px;
}


select{
	width: 100%;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
		border: 1px solid #cccccc;
}

.well{
	input{
		width: 100%;
		padding: 20px 10px 20px 10px;
		box-sizing: border-box;

		background-image: none;
	}
	input[type=submit]{ background-color: $base-ashphalt;}

}

textarea{
	resize: none;
	width: 100%;
	padding: 20px 10px 20px 10px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
}

#center-score{
	text-align: center;
	margin-bottom: 20px;
}

.comments{
	background-color: #CCCCCC !important;
}

.thumbnail{
	margin-top: 20px;
}
#st-search-input:focus{
	position: absolute;
	left: 0px;
	width: 100%;
	z-index: 300;
}
