// $panel-danger-heading-bg: ;

$panel-danger-text: white;
$panel-danger-heading-bg: #e74c3c;

$panel-success-text: white;
$panel-success-heading-bg: #27ae60;

$panel-info-text: white;
$panel-info-heading-bg: #34495e;

$panel-primary-text: white; 
$panel-primary-heading-bg: #2980b9; 
