<div class="pull-right">
  <% if current_user && current_user.watching?(post) %>
    <span class="label label-inverse">
      watching
      <%= link_to post_watched_item_path(post, current_user.watching(post)), method: :delete do %>
        <i class="icon-remove icon-white"></i>
      <% end %>
    </span>
  <% else %>
    <%= link_to post_watched_items_path(post), method: :post, class: "btn btn-inverse btn-watch btn-mini" do %>
      Watch<i class="icon-star icon-white"></i>
    <% end %>
  <% end %>
</div>
