<div class="panel panel-warning">
  <div class="panel-heading">
    <h2>Watching</h2>
  </div>
  <ul class="list-group">
    <% @posts.each do |watched_post| %>
      <%=  render partial: 'posts/post', locals: {post: watched_post.post}  %>
    <% end %>
  </ul>
</div>
