<div class="container-fluid">
  <%= header "#{@valid_filters[@filter.to_s].upcase} | #{@sort.upcase}" %>
  <div class="navbar">
    <ul class="nav nav-pills">
      <% @valid_filters.each do |filter, title| %>
        <li class="sort-pill"><%= link_to title, filters_path(@sort, filter) %></li>
      <% end %>
    </ul>
  </div>
</div>
