<div class="container-fluid">
  <div class="row-fluid">
    <%= render "filter_nav" %>
  </div>
</div>
<div class="container-fluid">
  <div clas="row-fluid">
    <%= render partial: "posts/new_post", collection: @posts %>
  </div>
</div>
