<div class="container-fluid">
  <div class="row-fluid">
    <%= render "filter_nav" %>
    <hr>
  </div>
</div>
<div class="container-fluid">
  <div clas="row-fluid">
    <%= render partial: @posts, spacer_template: "post_ruler" %>
  </div>
</div>
