<section class="semantic-content notification" id="<%= notification %>" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
  <div class="modal-inner">
    <header id="modal-label">
      <h1><%= alert %></h1>
    </header>
    <div class="modal-content">
      <h3><%= alert %></h3>
    </div>
    <footer>
      <p class="lead"><%= alert %></p>
    </footer>
  </div>
</section>
