<div class="container">
  <div class="text-center alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <small><%= link_to t('twitter.link'), "#twitter-auth" %></small>
  </div>
</div>

  
<section class="semantic-content" id="twitter-auth" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-inner">
    <header id="modal-label">
      <h2>
        <img src="https://abs.twimg.com/a/1378701295/images/resources/twitter-bird-light-bgs.png" width="75px" height="75px">
        Twitter Notifications.
        <img src="https://abs.twimg.com/a/1378701295/images/resources/twitter-bird-light-bgs.png" width="75px" height="75px">
      </h2>
    </header>
    <div class="modal-content">
      <h3><%= link_to 'Authenticate with Twitter.', '/auth/twitter' %> Get Proper Notifications.</h3>
      <dl class="dl-horizontal">
        <dt>Selling Shoes?</dt>
        <dd>Get notified when someone comments on a pair of your shoes.</dd>
        <dt>Watching Shoes?</dt>
        <dd>Get a tweet when someone comments on a shoe you're watching.</dd>
        <dt>Don't want it?</dt>
        <dd>Ignore this.</dd>
      </dl>
    </div>
    <footer>
      <%= link_to 'authenticate', '/auth/twitter' %>
    </footer>
  </div>
  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>